@font-face {
    font-family: btnFont;
    src: url('/font/btnFont.woff2');
}

@font-face {
    font-family: LMusicBtnFont;
    src: url('/LMusic/font/btnFont.woff2');
}

*{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html, body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    color: #EEEEEE;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
}

#left {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background: #333333;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    width: 100%;
    font-size: 1.5vw;
    line-height: 2em;
    text-align: center;
    background: #444444;
    cursor: pointer;
}

#logo {
    margin: 0.75vw;
    margin-left: calc((100% - 6vw - 1.5vw - 0.75vw) /2);
    width: 1.5vw;
    height: 1.5vw;
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 9vw);
    background: #333333;
    justify-content: center;
    align-items: center;
}

#musicControl {
    font-family: LMusicBtnFont;
    display: flex;
    font-size: 4vh;
    background: #444444;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.yearContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #444444;
    align-items: center;
    cursor: pointer;
}

.yearContainer ~ .yearContainer {
    margin-top: 0.5vw;
}

.year {
    font-size: 2vw;
    line-height: 2em;
}

.monthsContainer {
    width: 100%;
    max-height: 13vw;
    overflow: auto;
}

.monthContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #555555;
    align-items: center;
}

.monthContainer ~ .monthContainer {
    margin-top: 0.5vw;
}

.month {
    font-size: 1.5vw;
    line-height: 2em;
}

.dayContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 10vw;
    align-items: center;
    overflow: auto;
}

.day {
    display: flex;
    width: 100%;
    background: #666666;
    font-size: 1.25vw;
    line-height: 2em;
    justify-content: center;
}

.day ~ .day {
    margin-top: 0.5vw;
}

.hide .monthContainer {
    display: none;
}

.hide .dayContainer {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2vw;
    width: 70%;
    max-height: 80%;
    background: #333333;
    border-radius: 1vw;
    overflow: auto;
}

#date {
    font-size: 2vw;
    line-height: 2em;
    text-align: center;
}

.text {
    font-size: 1.5vw;
    line-height: 2em;
    text-indent: 2em;
}

#music {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: #222222;
    transform: translateY(-100%);
    transition: all 1s;
}

#music .return {
    font-family: btnFont;
    position: absolute;
    left: 2vh;
    bottom: 2vh;
    width: 3vh;
    height: 3vh;
    font-size: 3vh;
    cursor: pointer;
}