@font-face {
    font-family: btnFont;
    src: url('/font/btnFont.woff2');
}

@font-face {
    font-family: LMusicBtnFont;
    src: url('/LMusic/font/btnFont.woff2');
}

*{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
    --background: hsl(335, 50%, 80%);
    --color: #EEEEEE;
    --main_background: hsl(335, 80%, 35%);
    --first_background: hsl(335, 70%, 40%);
    --monthContainer_background: hsl(335, 60%, 45%);
    --dayContainer_background: hsl(335, 50%, 50%);
    --day_hover_background: hsl(335, 40%, 65%);
}

html, body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    color: var(--color);
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
}

#left {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background: var(--main_background);
    justify-content: center;
    align-items: center;
}

#home {
    font-family: 'btnFont';
    display: flex;
    width: 100%;
    font-size: 1.5vw;
    line-height: 2em;
    text-align: center;
    background: var(--first_background);
    color: hsl(330, 70%, 55%);
    cursor: pointer;
    justify-content: center;
}

#home div {
    color: var(--color);
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 9vw);
    background: var(--main_background);
    justify-content: center;
    align-items: center;
}

#musicControl {
    font-family: LMusicBtnFont;
    display: flex;
    padding: 0 2vh;
    width: calc(100% - 4vh);
    background: var(--first_background);
    justify-content: center;
    align-items: center;
}

#musicControl .btn {
    font-size: 1.5vw;
    line-height: 2em;
    border-radius: 50%;
    cursor: pointer;
}

#lyric {
    flex: 1;
    margin-left: 1vh;
    font-size: 1vw;
    line-height: 3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;
}

.yearContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--first_background);
    align-items: center;
    cursor: pointer;
}

.yearContainer ~ .yearContainer {
    margin-top: 0.5vw;
}

.year {
    font-size: 2vw;
    line-height: 2em;
}

.monthsContainer {
    width: 100%;
    max-height: calc((5vw / 6) * 4 + 9vw);
    overflow: auto;
}

.monthContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--monthContainer_background);
    align-items: center;
}

.monthContainer ~ .monthContainer {
    margin-top: 0.5vw;
}

.month {
    font-size: 1.5vw;
    line-height: 2em;
}

.dayContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc((5vw / 6) * 4 + 6vw);
    background: var(--dayContainer_background);
    align-items: center;
    overflow: auto;
}

.dayContainers {
    display: flex;
    margin: calc((100% - 10vw) / 6) 0;
    width: 100%;
}

.dayContainers ~ .dayContainers {
    display: flex;
    margin: 0 0 calc((100% - 10vw) / 6);
    width: 100%;
}

.day {
    display: flex;
    margin-left: calc((100% - 10vw) / 6);
    width: 2vw;
    height: 2vw;
    font-size: 1vw;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.day:hover {
    box-shadow: 0 0 0 0.1vw var(--color);
}

.day.now {
    background: var(--color);
    color: var(--dayContainer_background);
    box-shadow: none;
}

.hide .monthContainer {
    display: none;
}

.hide .dayContainer {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2vw;
    width: 70%;
    max-height: 80%;
    background: var(--main_background);
    border-radius: 1vw;
    overflow: auto;
}

#info {
    text-align: center;
}

.love {
    font-family: 'btnFont';
    display: inline-block;
    font-size: 2vw;
    line-height: 2em;
    color: hsl(330, 70%, 55%);
}

#date {
    display: inline-block;
    font-size: 2vw;
    line-height: 2em;
}

#length {
    display: inline-block;
    font-size: 1.25vw;
    line-height: 4vw;
}

.text {
    font-size: 1.5vw;
    line-height: 2em;
    text-indent: 2em;
}

#music {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--main_background);
    color: var(--color);
    transform: translateY(-100%);
    transition: all 1s;
}

#music .return {
    font-family: btnFont;
    position: absolute;
    left: 2vh;
    bottom: 2vh;
    width: 3vh;
    height: 3vh;
    font-size: 3vh;
    cursor: pointer;
}